<IfModule mod_rewrite.c>
  RewriteEngine on
    RewriteRule ^(/)?$ /fuelphp-cms/public/index.php/$1 [L]
    RewriteCond ${REQUEST_FILENAME} !-f
    RewriteCond ${REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /fuelphp-cms/public/index.php/$1 [L]
</IfModule>